---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{#- sorted by URL so the output is deterministic regardless of file dates -#}
{%- for item in collections.all | sort(false, false, "url") %}
{%- if item.url and item.url != "/404.html" and item.url != "/feed.xml" %}
	<url>
		<loc>{{ site.url }}{{ item.url }}</loc>
	</url>
{%- endif %}
{%- endfor %}
</urlset>
